body {
  font-size: 10pt;
  font-family: "Georgia, serif";
  font-family: "monospace";
  font-style: oblique;
  font-weight: bold;
  color: white;
  background-color: rgba(64,64,64,1);
  background-image: url("./images/hgray2.jpg");
  text-align: center;
}
th {
  text-align: center;
}
#taskTable {
  text-align: left;
  border-collapse: collapse;
  white-space: nowrap
}
#taskTable th {
  padding : 0pt 10pt 0pt 10pt;
  height : 24pt;
}
#taskTable tr {
  transition: opacity 0.5s ease;
}
#taskTable tr.onAdd {
  opacity: 1;
  /*transition: opacity 1.0s ease;*/
}
#taskTable tr.onCollapse {
  opacity: 0;
  /*transition: opacity 1.0s ease;*/
}
#taskTable td {
  padding : 0pt 0 1pt 10pt;
  /*height: 1pt;*/
  /*border : 1px solid black;*/
}
.highlight {
  border-radius: 25pt;
  background: #73AD21;
  padding: 2pt 10pt 2pt 10pt;
  color: white;
  margin: 0px;
  display: inline-block;
  text-shadow: 0pt 0pt 3pt #000000;
  background-color: lightgray;
  background-blend-mode: multiply;
  cursor: help;
  overflow: hidden;

  /* Don't use these; disables tooltip */
    /*backface-visibility: hidden;*/
    /*transform: translate3d(0, 0, 0);*/

  transition: all 0.75s ease;
    margin: 0pt -100pt;
    /*transform: rotate(30deg);*/
}
tr.onAdd .highlight {
  /*transform: rotate(0deg);*/
  margin: 0pt;
}
meter::-moz-meter-bar { /* Firefox Pseudo Class */
  /*background: red;*/
  box-shadow: 0 5pt 5pt -5pt #999 inset;
  /*background-image: linear-gradient(
    0deg,
    #719fd1 0%,
    #8bcf69 100%
  );*/
   /*      background-image:
      -webkit-linear-gradient(
        -45deg,
        transparent 33%, rgba(0, 0, 0, .1) 33%,
        rgba(0, 0, 0, .1) 66%, transparent 66%
      ),
      -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, .25),
        rgba(0, 0, 0, .25)
      ),
      -webkit-linear-gradient(left, #09c, #09c);*/
  /*background-size: 100% 100%;*/
}

.tooltipclass {
  pointer-events: none;
}


.highlight .tooltipclass {
  position: absolute;
  opacity: 0;

  display: inline;

  /* customizable */
  padding: 10px;
  color: #FFF;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
  margin-top: 0px;
  margin-left: 20px;
  white-space: pre-wrap;
  background: rgba(0,0,0,0.5);
  max-height: 0;
  /*max-width: 0;*/
  overflow: hidden;
  /*transition: all 0.5s ease;*/
  /*transition: max-height 1s ease;*/
}

.highlight:hover .tooltipclass {
  max-height: 100%;
  /*max-width: 1000pt;*/
  opacity: 1;
  transition: max-height 3s ease, opacity 1s ease;
}

div#editTaskForm {
  position: fixed;

  display: block;
  text-align: center;

  color: #FFF;
  padding: 20pt;
  border-radius: 40pt;
  box-shadow: 2px 2px 1px black;
  white-space: pre-wrap;
  background: rgba(0,0,0,0.5);
  overflow: hidden;

  position: fixed;
  transform: translate(-50%, -50%);

  left: 100%;
  top: 0%;
  opacity: 0;
  max-height: 0;
}

 div#editTaskForm.onAdd {
    left: 50%;
    top: 50%;
    opacity: 1;
    max-height: 100%;
    transition:
      left 0.5s ease,
      top 0.5s ease,
      opacity 1.0s ease,
      max-height 1.0s ease;
 }

 div#editTaskForm td {
  text-align: right;
 }

#editTaskForm table {
  display: inline-block;
  position: relative;
  /*height: 100%;*/
  /*width: 100%;*/
  /*margin-left: -50%;*/
  margin-top: 10%;
  text-align: center;
  /*display: table-cell;*/
  vertical-align: middle;
}

.actionicon {
  height: 14pt;
  margin: 0;
  padding: 0;
  cursor: pointer;
  /*border-radius: 100pt;*/
  /*background-color: white;*/
}

.tooltipicon {
  height: 10pt;
  margin: 2;
  padding: 2;
  /*cursor: pointer;*/
  border-radius: 100pt;
  background-color: white;
}

#taskTable .actiontd {
  padding: 0;
  text-align: center;
}

.invisible {
  display: none;
}

.zeroopacity {
  opacity: 0;
}

.sortableHeader {
  cursor: pointer;
}

.sortableHeader:hover {
  color: red;
}

.exportButton {
  cursor: pointer;
  border-radius: 20pt;
  /*background: rgba(255,255,255,1);*/
  /*background: radial-gradient(ellipse, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0) 70%);*/
  color: red;
}
